In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2020-02-24 03:15:56,-34.42,19.23,62.01,77,0,7.00
1,1,Ucluelet,CA,2020-02-24 03:19:20,48.93,-125.55,45.00,82,61,14.00
2,2,Perth,AU,2020-02-24 03:20:40,-31.93,115.83,84.20,48,20,19.46
3,3,Bogande,BF,2020-02-24 03:20:40,12.97,-0.14,73.76,12,0,10.33
4,4,Ola,RU,2020-02-24 03:20:40,59.58,151.28,0.99,77,5,3.49

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#add zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Perth,AU,2020-02-24 03:20:40,-31.93,115.83,84.20,48,20,19.46
10,10,Busselton,AU,2020-02-24 03:20:41,-33.65,115.33,81.00,32,100,15.21
15,15,Vaini,TO,2020-02-24 03:15:49,-21.20,-175.20,84.20,83,75,9.17
16,16,Rikitea,PF,2020-02-24 03:15:45,-23.12,-134.97,80.06,69,12,7.72
21,21,Maragogi,BR,2020-02-24 03:20:44,-9.01,-35.22,81.88,78,66,12.08
28,28,Porto Velho,BR,2020-02-24 03:18:20,-8.76,-63.90,77.00,94,40,2.24
29,29,Lorengau,PG,2020-02-24 03:20:45,-2.02,147.27,83.80,69,74,2.26
31,31,Bolgatanga,GH,2020-02-24 03:20:46,10.79,-0.85,78.80,12,0,9.89
32,32,Karratha,AU,2020-02-24 03:20:46,-20.74,116.85,85.62,61,85,5.03
41,41,Poum,NC,2020-02-24 03:20:48,-20.23,164.02,80.46,77,83,21.47

In [23]:
preferred_cities_df.count()

City_ID       146
City          146
Country       145
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
2         Perth      AU     84.20 -31.93  115.83
10    Busselton      AU     81.00 -33.65  115.33
15        Vaini      TO     84.20 -21.20 -175.20
16      Rikitea      PF     80.06 -23.12 -134.97
21     Maragogi      BR     81.88  -9.01  -35.22
28  Porto Velho      BR     77.00  -8.76  -63.90
29     Lorengau      PG     83.80  -2.02  147.27
31   Bolgatanga      GH     78.80  10.79   -0.85
32     Karratha      AU     85.62 -20.74  116.85
41         Poum      NC     80.46 -20.23  164.02

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Perth,AU,84.20,-31.93,115.83,Rendezvous Hotel Perth Central
10,Busselton,AU,81.00,-33.65,115.33,Observatory Guest House
15,Vaini,TO,84.20,-21.20,-175.20,Keleti Beach Resort
16,Rikitea,PF,80.06,-23.12,-134.97,Pension Maro'i
21,Maragogi,BR,81.88,-9.01,-35.22,Salinas do Maragogi All Inclusive Resort

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))